@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";


@theme {
    --font-display: "Oswald", sans-serif;
}


.embla {
      --slide-spacing: 20px;
}

.embla__viewport {
  overflow: hidden;
  width:100%;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1); 
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: var(--slide-spacing);
}

